body, html {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    font-family: Arial, sans-serif;
    line-height: 24px;
    font-size: 14px;
    padding-left: 15px;
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.87);
}

a:hover {
    text-decoration: underline;
}

.linksOth {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.searchBar {
    min-height: 44px;
    max-width: 600px;
    width: 600px;
    background: #fff;
    border: 1px solid #bdbdbd;
    box-shadow: none;
    border-radius: 24px;
}

input[type="text"] {
    font-size: 16px;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding: 12px;
    width: 150px;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 3px #bdbdbd;
    border: 1px solid #bdbdbd;
}

/* Grid Layout for Search bar and Buttons */

.form_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px; 
    margin-top: 20px;
}

.searchBar {
    grid-area: 1/1/2/5;
    justify-self: center;
}

.submitBtn {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    margin-left: 20px;
}

.luckyBtn {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
    align-self: center;
}

/* END Grid Layout for Search bar and Buttons */

.shadow:hover {
    box-shadow: 0 1px 3px #bdbdbd;
    border: 1px solid #bdbdbd;
}